* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./cotton-yarn.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f2e6ff;
    padding: 1rem 1.8rem;
    margin: 0 auto;
    border: 0.3rem solid blueviolet;
    border-radius: 1.3rem;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

button {
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: white;
    font-weight: bold;
    width: 13rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

#increment-btn {
    background: indigo;
}

#decrement-btn {
    background: indigo;
}

#save-btn {
    background: purple;
}
